.description {
  font-size: 2rem;
}

.override-control {
  cursor: col-resize;
  user-select: none;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.override-value {
  font-size: 2rem;
  line-height: 2rem;
}

.override-label {
  font-size: 1rem;
  line-height: 1rem;
}

.dragging {
  color: red;
}

body.override-dragging {
  cursor: col-resize;
  user-select: none;
}
